.cabeçalho {
background-color: darkgreen;
color:aliceblue
display: flex; 
justify-content: space-around; 
}

.cabeçalho-imagem{
width: 20%;
}

.cabeçalho-lista-item{
display:inline-block
margin: 0 16px 
}





